<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Testing Page</title>
    <th:block th:include="~{service/libs/front-libs :: front-libs}">
    </th:block>
</head>
<body>
<header class="header bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a th:href="@{/test}" class="navbar-brand text-uppercase">
                Testing Section
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Test</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container min-vh-100">
        <section layout:fragment="testContent"></section>
    </div>
</main>
<footer th:replace="~{service/footer :: footer}"></footer>
</body>
</html>