<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service Page</title>
</head>
<body>
<footer class="footer w-100 pt-3 pb-3 bg-dark text-secondary mt-auto" th:fragment="footer">
<div class="container d-flex justify-content-between align-items-center">
    <div class="col-md-4 justify-content-start">© 2022, xodbar</div>
    <a href="https://github.com/xodbar/spring-boot-projects"
       class="fs-3 link-secondary text-decoration-none">
        <i class="fa-brands fa-github"></i>
    </a>
    <ul class="nav col-md-4 justify-content-end text-end">
        <li class="nav-item ms-3">
            <a th:href="@{/}" class="link-secondary text-decoration-none">Home</a>
        </li>
        <li class="nav-item ms-3">
            <a href="https://github.com/xodbar/spring-boot-projects"
               class="link-secondary text-decoration-none">GitHub</a>
        </li>
    </ul>
</div>
</footer>
</body>
</html>