<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{lectures/lecture4/task1/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Details | Requests CRM</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <!--/*@thymesVar id="request" type="kz.xodbar.springprojects.lectures.lecture4.entities.ApplicationRequest"*/-->
    <th:block th:if="${request.handled == false}">
        <h3 class="text-center text-danger">Unhandled Request</h3>
    </th:block>
    <form th:action="@{/lecture4/task1/{id}/update(id=${request.id})}" method="post">
        <div class="input-group mb-3">
            <label for="requestUsername" class="form-label col-4">Request User:</label>
            <input type="text" name="requestUsername" th:value="${request.userName}"
                   id="requestUsername" class="form-control col-8" required>
        </div>
        <div class="input-group mb-3">
            <label for="requestCourse" class="form-label col-4">Course:</label>
            <select name="requestCourse" id="requestCourse" class="form-control col-8" required>
                <!--/*@thymesVar id="courses" type="java.util.ArrayList<java.lang.String>"*/-->
                <option th:each="course : ${courses}" th:value="${course}" th:text="${course}"
                        th:selected="${request.course.equals(course) ? 'true' : 'false'}"></option>
            </select>
        </div>
        <div class="input-group mb-3">
            <label for="requestCommentary" class="form-label col-4">Request Commentary:</label>
            <textarea name="requestCommentary" th:text="${request.commentary}"
                   id="requestCommentary" class="form-control col-8" required></textarea>
        </div>
        <div class="input-group mb-3">
            <label for="requestPhone" class="form-label col-4">User's Phone:</label>
            <input type="text" name="requestPhone" th:value="${request.phone}"
                   id="requestPhone" class="form-control col-8" required>
        </div>
        <div class="input-group mb-5">
            <button type="submit" class="btn btn-outline-primary w-100">Save Changes</button>
        </div>
    </form>
    <div class="d-flex justify-content-between">
        <form th:action="@{/lecture4/task1/{id}/handle(id=${request.id})}" class="col-8" method="post">
            <button class="btn btn-success w-100">Mark As Handled</button>
        </form>
        <form th:action="@{/lecture4/task1/{id}/delete(id=${request.id})}" class="col-4" method="post">
            <button class="btn btn-danger w-100">Delete Request</button>
        </form>
    </div>
</div>
</body>
</html>