<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{service/libs/front-libs :: front-libs}">
    </th:block>
    <title>SERVICE PAGE</title>
</head>
<body>
<header class="header bg-primary">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a th:href="@{/trello}" class="navbar-brand fw-bold">trello.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarContent" aria-controls="navbarContent"
                    aria-label="Toggle navigation" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a th:href="@{/trello}" class="nav-link">Folders</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/trello/categories}" class="nav-link">Categories</a>
                    </li>
                </ul>
                <form th:action="@{/trello/search}" method="get">
                    <div class="input-group form-control">
                        <label for="query"></label>
                        <input class="me-1" style="outline: rgba(0,0,0,0); border: 0" type="text"
                               placeholder="Search folder by name"
                               name="query" id="query" required>
                        <button class="bg-transparent border-0 text-primary ms-auto">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</header>

<main class="min-vh-100 mt-3 mb-4" layout:fragment="content">
    <h1>Hello, World!</h1>
</main>

<footer th:insert="~{service/footer :: footer}">
</footer>
</body>
</html>