<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{big_project/layout/layout}">
<!--/*@thymesVar id="folder" type="kz.xodbar.springprojects.big_project.entities.Folder"*/-->
<head>
    <meta charset="UTF-8">
    <title th:title="${folder.getFolderName() + '| trello.com'}"></title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" th:text="${folder.getFolderName()}"></h3>
            </div>
            <div class="card-body">
                <h5 class="fw-normal d-inline">Folder categories:</h5>
                <div th:each="category : ${folder.getFolderCategories()}" class="d-inline me-1">
                    <a th:href="@{/trello/categories/{categoryId}(categoryId=${category.getTaskCategoryId()})}"
                       th:text="${category.getTaskCategoryName()}" class="pe-1 me-auto"></a>
                    <form th:action="@{/trello/folders/{folderId}/removeCategory(folderId=${folder.getFolderId()})}"
                          class="ms-auto">
                        <input type="hidden" name="categoryId" th:value="${category.getTaskCategoryId()}">
                        <button type="submit" class="btn-close"></button>
                    </form>
                </div>
                <span class="ms-2">
                    <button class="text-decoration-none bg-transparent text-dark" type="button"
                            data-bs-toggle="modal" data-bs-target="#assignCategoryModal">
                        Assign category
                    </button>
                </span>
            </div>
        </div>

        <div class="row">
            <button type="button" data-bs-toggle="modal" data-bs-target="#addTaskModal"
                    class="btn btn-outline-primary w-100 text-center mb-3">Add Task</button>
            <table class="table table-responsive table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Task Name</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Details</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="tasks" type="java.util.List<kz.xodbar.springprojects.big_project.entities.Task>"*/-->
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.getTaskId()}"></td>
                    <td th:text="${task.getTaskTitle()}"></td>
                    <td th:text="${task.getTaskStatus()}"></td>
                    <td class="fw-bold text-center text-uppercase">
                        <th:block th:switch="${task.getTaskStatus()}">
                            <span th:case="0" class="text-warning">to do</span>
                            <span th:case="1" class="text-primary">in test</span>
                            <span th:case="2" class="text-success">done</span>
                            <span th:case="3" class="text-danger">failed</span>
                        </th:block>
                    </td>
                    <td>
                        <a th:href="@{/trello/folders/{folderId}/{taskId}(folderId=${folder.getFolderId()}, taskId=${task.getTaskId()})}"
                           class="btn-sm btn-primary">
                            View More
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="assignCategoryModal" tabindex="-1"
             data-bs-backdrop="static" data-bs-keyboard="false"
             aria-labelledby="assignCategoryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="assignCategoryModalLabel">Assign category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/trello/folders/{folderId}/assignCategory(folderId=${folder.getFolderId()})}">
                            <div class="input-group mb-3">
                                <label for="categoryName" class="form-label col-4">Category:</label>
                                <input list="categories" value="" class="col-8 form-control" name="categoryName"
                                       id="categoryName" required>
                                <datalist id="categories">
                                    <!--/*@thymesVar id="allCategories" type="java.util.List<kz.xodbar.springprojects.big_project.entities.TaskCategory>"*/-->
                                    <option th:each="category : ${allCategories}"
                                            th:value="${category.getTaskCategoryName()}"
                                            th:text="${category.getTaskCategoryName()}
                                                                    + (folder.getFolderCategories().contains(category)
                                                                                                  ? ' (Assigned)' : '')"
                                            th:disabled="${folder.getFolderCategories().contains(category)}"></option>
                                </datalist>
                            </div>
                            <div class="input-group mb-3">
                                <button type="submit" class="btn btn-primary w-100 text-center">Add category</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addTaskModal" tabindex="-1"
             data-bs-backdrop="static" data-bs-keyboard="false"
             aria-labelledby="addTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/trello/folders/{folderId}/addTask}" method="post">
                            <input type="hidden" name="status" value="0">
                            <div class="input-group mb-3">
                                <label for="title" class="form-label col-4">Title:</label>
                                <input type="text" id="title" class="form-control col-8" maxlength="254"
                                       name="title" required>
                            </div>
                            <div class="input-group mb-3">
                                <label for="description" class="form-label col-12">Description:</label>
                                <textarea name="description" id="description" rows="15"
                                          class="textarea form-control col-12"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <button type="submit" class="btn btn-primary w-100 text-center mb-2">
                                    Add Task
                                </button>
                                <button type="reset" class="btn btn-outline-secondary w-100 text-center mb-2">
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>