<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SERVICE PAGE</title>
</head>
<body>
<header class="header bg-info text-light" th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a th:href="@{~/lecture2/task1}" class="navbar-brand link-light">Mark Management System</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{~/lecture2/task1}" class="nav-link link-light">List Students</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/lecture2/task1/addStudent}" class="nav-link link-light">Add New Student</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
</body>
</html>